* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #00425a; /* biru tua */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Box */
.login-box {
  background: #f1f1f1;
  width: 400px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Header */
.login-header {
  display: flex;
  background: #e2e2e2;
  padding: 20px;
  justify-content: center;
}

.login-logo {
  height: 80px;
  text-align: center;
}


/* Form */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 14px;
}

label.info-text {
  font-weight: normal;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}


/* Button */
.login-btn {
  background: #5fc85f;
  border: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #4caf50;
}


/* Forgot link */
.forgot {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #003a7d;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

/* Alert */
.alert {
  background-color: #ffe0e0;
  color: #a94442;
  border: 1px solid #f5c6cb;
  padding: 12px 16px;
  margin: 15px 20px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert i {
  color: #a94442;
  font-size: 16px;
}

.error-message {
  background-color: #ffe0e0;
  color: #a94442;
  border: 1px solid #f5c6cb;
  padding: 12px 16px;
  margin: 15px 20px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-message i {
  font-size: 18px;
}
